{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans "Add Wanted Profile - Pairup Israel" %}{% endblock %}
{% block content %}
	<header class="container_16 columns alpha omega clearfix">
		<h1 class="grid_8 columns alpha">{% trans "Partner request added successfully" %}</h1>
	</header>
	<div id="partner_info" class="grid_8 columns alpha">
		<header class="grid_8 column alpha">
		{% trans "Please don't forget to update the request on a weekly basis" %}
		</header>
	</div>
{% endblock %}

